<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--上面2行的是约束依赖，固定照抄就好-->
<!--下面的才是要自己编写的地方-->
<!--写mapper的配置文件第一步就是要写<mapper></mapper>标签-->
<!--<mapper></mapper>标签里包含着各个CURD操作的SQL语句-->

<mapper namespace="com.example.token.usermapper.MenuMapper">

    <!--    查询用户角色-->
    <select id="GetUserGroup" resultType="java.lang.Integer">
        select group_id from user_group where user_id = #{user_id}
    </select>

    <!--    查询角色对应的权限-->
    <select id="GetGroupAction" resultType="java.lang.Integer">
        select action_id from group_action where group_id = #{group_id}
    </select>

</mapper>